* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #07f26d, #0c8bfa);
  }
  
  .container {
    max-width: 600px;
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .text-input textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
  }
  
  select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    background-color: #087f23;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #065f18;
  }
  